In [5]:
# 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

# 과목	점수
# 국어	80
# 영어	75
# 수학	55


avg = (80+75+55)/3
print("홍길동의 평균 점수는 %d" % avg)

홍길동의 평균 점수는 70

In [11]:
# Q2
# 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

if 13%2 : 
    print("13은 %s다" % '홀수')
else : 
    print("13은 %s다" % '짝수')

13은 홀수다

In [23]:
# Q3
# 홍길동 씨의 주민등록번호는 881120-1068234이다. 
# 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 
# 그 뒤의 숫자 부분으로 나누어 출력해 보자.

own_number = '900717-2255511'
print("홍길동씨의 생년월일은 %s" % own_number[:6])
print("홍길동씨의 주민등록번호 뒷자리는 %s" % own_number[7:])

홍길동씨의 생년월일은 900717
홍길동씨의 주민등록번호 뒷자리는 2255511

In [25]:
# Q4
# 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 
# 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

print("성별을 나타내는 숫자는 %s" % own_number[7])
# >>> pin = "881120-1068234"
# ※ 문자열 인덱싱을 사용해 보자.

성별을 나타내는 숫자는 2

In [27]:
# Q5
# 다음과 같은 문자열 a:b:c:d가 있다. 
#문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

# >>> a = "a:b:c:d"

a = "a:b:c:d"
print(a.replace(":", "#"))

a#b#c#d

In [32]:

# Q6
# [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

# ※ 리스트의 내장 함수를 사용해 보자.

listNum = [1,3,5,4,2]

listNum.sort()

print(listNum)

listNum.reverse()
print(listNum)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [34]:

# Q7
# ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

# ※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

strList = ['Life', 'is', 'too', 'short'] 
result = ' '.join(strList)
print(result)

Life is too short

In [46]:

# Q8
# (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

# ※ 더하기(+)를 사용해 보자.

numTuple = (1,2,3)
numTuple2 = (4,)

print(numTuple+numTuple2)

(1, 2, 3, 4)

IndentationError: unexpected indent (<ipython-input-47-b9ece251b5b8>, line 14)

In [58]:

# Q10
# 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

# >>> a = {'A':90, 'B':80, 'C':70}
# ※ 딕셔너리의 pop 함수를 사용해 보자.

a = {'A':90, 'B':80, 'C':70}


print(a.pop('B'))

80

In [61]:

# Q11
# a 리스트에서 중복 숫자를 제거해 보자.

# >>> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
# ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
setA = set(a)
print(setA)
listA = list(setA)
print(listA)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

In [62]:

# Q12
# 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 
# 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 
# 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

In [63]:
# Q1
# 다음 코드의 결괏값은 무엇일까?

# a = "Life is too short, you need python"

# if "wife" in a: print("wife")
# elif "python" in a and "you" not in a: print("python")
# elif "shirt" not in a: print("shirt")
# elif "need" in a: print("need")
# else: print("none")

a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")
    
#IF문에서 가장 먼저 달성하는 게 SHIRT라서 그 뒤에 NEED는 참인데도 작동하지 않음.

shirt

In [1]:
# Q2
# while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

result = 0
i = 1
while i <= 1000:
    if i % 3 == 0: # 3으로 나누어 떨어지는 수는 3의 배수
        result += i
    i += 1

print(result) # 166833 출력

166833

In [12]:

# Q3
# while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

# *
# **
# ***
# ****
# *****

i=1
while(i<6):
    if i > 5 : break;
    print('*'*i)
    i += 1

*
**
***
****
*****

In [15]:
# Q4
# for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [19]:
# Q5
# A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

# [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

# for문을 사용하여 A 학급의 평균 점수를 구해 보자.

grade = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

number = 0
for item in grade:
    number += item
result = number/len(grade)
print("평균 성적은 %d 입니다." % result)

평균 성적은 79 입니다.

In [20]:
# Q6
# 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.

# numbers = [1, 2, 3, 4, 5]
# result = []
# for n in numbers:
#     if n % 2 == 1:
#         result.append(n*2)
# 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
        
print(result)

[2, 6, 10]

In [4]:
# Q1
# 주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성해 보자.

def is_odd(number):
    if number % 2 == 0 : 
        print("{0}는 {1}입니다.".format(number, "짝수"))
    else : print("{0}는 {1}입니다.".format(number, "홀수"))

is_odd(5)
is_odd(10)

5는 홀수입니다.
10는 짝수입니다.

In [6]:
# Q2
# 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자. (단 입력으로 들어오는 수의 개수는 정해져 있지 않다.)
# ※ 평균 값을 구할 때 len 함수를 사용해 보자.

# 입력 개수에 상관없이 사용하기 위해 *args를 사용

def avg_numbers(*args):
    result = 0
    for i in args:
        result += i
    return result / len(args)

avg_numbers(1, 2)
1.5
avg_numbers(1,2,3,4,5)
3.0

3.0

In [8]:
# Q3
# 다음은 두 개의 숫자를 입력받아 더하여 돌려주는 프로그램이다.

# input1 = input("첫번째 숫자를 입력하세요:")
# input2 = input("두번째 숫자를 입력하세요:")

# total = input1 + input2
# print("두 수의 합은 %s 입니다" % total)
# 이 프로그램을 수행해 보자.

# 첫번째 숫자를 입력하세요:3
# 두번째 숫자를 입력하세요:6
# 두 수의 합은 36 입니다
# 3과 6을 입력했을 때 9가 아닌 36이라는 결괏값을 돌려주었다. 이 프로그램의 오류를 수정해 보자.

# ※ int 함수를 사용해 보자.

def inputCal(number):
    input1 = input("첫번째 숫자를 입력하세요:")
    input2 = input("두번째 숫자를 입력하세요:")

    total = input1 + input2
    print("두 수의 합은 %s 입니다" % total)

In [9]:
# Q4
# 다음 중 출력 결과가 다른 것 한 개를 골라 보자.

print("you" "need" "python")
print("you"+"need"+"python")
print("you", "need", "python")
print("".join(["you", "need", "python"]))

youneedpython
youneedpython
you need python
youneedpython

In [ ]:
# Q5
# 다음은 "test.txt"라는 파일에 "Life is too short" 문자열을 저장한 후 다시 그 파일을 읽어서 출력하는 프로그램이다.

# f1 = open("test.txt", 'w')
# f1.write("Life is too short")

# f2 = open("test.txt", 'r')
# print(f2.read())
# 이 프로그램은 우리가 예상한 "Life is too short"라는 문장을 출력하지 않는다. 우리가 예상한 값을 출력할 수 있도록 프로그램을 수정해 보자.

In [ ]:

# Q6
# 사용자의 입력을 파일(test.txt)에 저장하는 프로그램을 작성해 보자. (단 프로그램을 다시 실행하더라도 기존에 작성한 내용을 유지하고 새로 입력한 내용을 추가해야 한다.)

# Q7
# 다음과 같은 내용을 지닌 파일 test.txt가 있다. 이 파일의 내용 중 "java"라는 문자열을 "python"으로 바꾸어서 저장해 보자.

# Life is too short
# you need java
# ※ replace 함수를 사용해 보자.