In [3]:
import pandas as pd

In [20]:
file = pd.read_csv("data/TP_MWMN_ACCTO_CNSMP_PTTRN.csv")
file.head()

        년월  시도명 시군구명 성별코드  가맹점업종명  총결제금액
0  2019-03  경기도  양주시    F  유통업 영리   7600
1  2019-03  경기도  양주시    F  일반휴게음식  26200
2  2019-04  경기도  가평군    F   회원제형태  10000
3  2019-04  경기도  가평군    F      기타  10450
4  2019-04  경기도  가평군    F    신변잡화  45500

In [27]:
grouped=file.groupby([ '성별코드', '가맹점업종명', '시군구명'])
grouped

In [28]:
grouped.sum()['총결제금액']

성별코드  가맹점업종명  시군구명
F     가구      가평군           306600
              고양시 일산동구    15016000
              고양시 일산서구     2847400
              과천시           695400
              광명시          2354010
                            ...
M     회원제형태   의정부시        23568900
              이천시          9327200
              파주시          8671500
              하남시         30686300
              화성시         67204325
Name: 총결제금액, Length: 2028, dtype: int64

In [32]:
#grouped.to_csv("gender_city_amount.csv", index=False)
grouped.sum().reset_index().to_csv('gender_city_amount.csv')

In [33]:
grouped2=file.groupby([ '성별코드', '가맹점업종명'])
grouped2.sum()['총결제금액']
grouped2.sum().reset_index().to_csv('gender_amount.csv')